<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/master.css" rel="stylesheet" type="text/css" />
    <script src="~/scripts/jquery-2.2.1.js"></script>
</head>
<body>
    <div class="container">
        <div class="page-header page-title">
            <h2>YouTube Slice and Dice!</h2>
        </div>
        <div>
            @RenderBody()
        </div>
    </div>
</body>
</html>
