body{
    background-color:#6f6969;
}

::-moz-selection { background: #6f6969; color:white; }
::selection { background: #6f6969; color:white; }

.btn-primary {
    background-color: #229ac8;
    background-image: linear-gradient(to bottom, #363636, #222222);
    background-repeat: repeat-x;
    border-color: #222222;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}

.btn-primary:focus {
    background-color: #6f6969;
    box-shadow: 0 1px 1px;
}

.form-control:focus {
    border-color: #6f6969;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(211,211,211, 0.6)
}

.container{
    background-color:#ffffff;
    color: #cde919;
    margin-top:20px;
    border-radius:10px;
    padding-left:50px;
    padding-right:50px;
    padding-bottom:20px;
    box-shadow: 5px 0px 15px white;
}

.container div{
    color: black;
}


#status {
    margin-top:20px;   
    border: 1px solid;
    border-radius: 5px;
    padding: 10px;
    /*padding-left: 8px;
    padding-right: 8px;*/
    overflow-y:auto;
    color:gray;
    line-height: 15 0%;
    font-size:11px;
}

.navs div{
    display: inline; 
}


/*.container  {

    -webkit-animation: shadow 30s infinite alternate;
}

@-webkit-keyframes shadow {
      0% {box-shadow: 0px 0px 200px;color: #8bc5d1;}
     15% {color: #f8cb4a;}
     30% {color: #95b850;}
     45% {color: #944893;}
     60% {color: #c71f00;}
     75% {color: #bdb280;}
     90% {color: #229ac8;}
    100% {box-shadow: 0px 0px 200px;color: #8bc5d1;}
}


body{

    -webkit-animation: hue 30s infinite linear;
}

@-webkit-keyframes hue {
      0% {background-color: #229ac8;}
     15% {background-color: #8bc5d1;}
     30% {background-color: #f8cb4a;}
     45% {background-color: #95b850;}
     60% {background-color: #944893;}
     75% {background-color: #c71f00;}
     90% {background-color: #bdb280;}
    100% {background-color: #229ac8;}
}*/
