
@{
    ViewBag.Title = "ChangeLog";
    Layout = "~/Views/_Layout.cshtml";
}


<h4>March, 31 2016</h4>
<ul>
    <li>Zip file now contains a folder with the songs (rather than just the mp3s in a zip)</li>
    <li>Downloaded zip files now have the same name as the video title.</li>
    <li>Added change log.</li>
</ul>
<h4>March, 28 2016</h4>
<ul>
    <li>Fixed color change reloading page and interrupting download.</li>
    <li>Uploaded site.</li>
</ul>
<hr />

<a href="/Main">Back</a>


